<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Markdown Slides</title>
    <link rel=stylesheet href="/css/hashify-editor.css" />
    <link rel=stylesheet href="/css/hashify.css" />
    <link rel=stylesheet href="/css/slides.css" />
    <link rel=stylesheet href="/css/prettify/prettify.css" />
  </head>
  <body>
    <div id="sidebar">
      <div id="editor">
        <textarea id="markdown"></textarea>
        <div id="counter"></div>
      </div>
      <div id="wrapper">
        <a id="qrcode">QR code</a>
      </div>
      <a id="shorten" href="#shorten">Save. Shorten. Share.</a>
      <div id="credits">
        <button type="button" id="present">Presentation Mode</button>
        <br/>

        <h4>Based on</h4>
        <a href="https://bitbucket.org/davidchambers/hashify.me">Hashify</a>, <a href="http://code.google.com/p/html5slides/">html5slides</a>.
        <p>Copyright 2011 <a href=http://twitter.com/siuying>@siuying</a>.</p>
      </div>
      <div id="dragger"></div>
    </div>
    <section class='slides layout-regular template' id="markup">
    </section>
    <div id="kbd-shortcuts">
      <div>
        <h1>Keyboard shortcuts</h1>
        <h2>General shortcuts</h2>
        <dl>
          <dt><kbd title="escape">⎋</kbd></dt>
          <dd>Dismiss this dialog</dd>
          <dt><kbd>?</kbd></dt>
          <dd>Invoke this dialog</dd>
          <dt><kbd title="left arrow">←</kbd></dt>
          <dd>Conceal editor</dd>
          <dt><kbd title="right arrow">→</kbd></dt>
          <dd>Reveal editor</dd>
        </dl>
        <h2>Editor shortcuts</h2>
        <dl>
          <dt><kbd>#</kbd></dt>
          <dd>Cycle heading level</dd>
          <dt><kbd>&gt;</kbd></dt>
          <dd>Toggle “blockquote”</dd>
          <dt><kbd>_</kbd></dt>
          <dd>Toggle “em”</dd>
          <dt><kbd>*</kbd></dt>
          <dd>Toggle “strong”</dd>
          <dt><kbd>`</kbd></dt>
          <dd>Toggle “code”</dd>
          <dt data-keys="2"><kbd title="alt">⌥</kbd><kbd title="tab">⇥</kbd></dt>
          <dd>Insert four spaces</dd>
        </dl>
      </div>
    </div>
    <div id="mask"></div>
    <script src="/js/LAB.js"></script>
    <script>
		$LAB
         .script('/js/jquery-1.6.4.min.js').wait(function(){ jQuery.noConflict(); })
         .script('/js/prettify/prettify.js')
         .script('/js/base64.js')
         .script('/js/showdown.js').wait()
         .script('/js/datetimes.js')
         .script('/js/abbreviations.js')
         .script('/js/hashify-editor.js').wait()
         .script('/js/hashify.js').wait(function(){
           jQuery("#present").click(function(e){
             var match = /^#!\/([^?]*)(\?.*)?$/.exec(window.location.hash);
             match = match || [null, location.pathname.substr(1), location.search];
             window.location = "/s/" + match[1];
             return false;
           })
         });
    </script>
  </body>
</html>
